.popup {
    width: 300px;
    font-family: 'Inter', sans-serif;
    color: #4b4b4b;
    font-weight: 400;
    padding: 0 0px 0px 2px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

body {
    margin: 0 8px 0 8px !important;
}

h1 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

label, a {
    font-size: 12px;
    margin-bottom: 4px;
    display: block;
}

a {
    font-size: 9px;
    white-space: nowrap;
    display: inline-block;
}

a, a:link, a:visited {
    color: #2c2c2c;
    text-decoration: underline;
    background-color: #ffffff;
}

input {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

button:disabled {
    background-color: #858585;
    color: #ffffff;
}

.hintContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hintContainer a {
    color: #2c2c2c;
    text-decoration: none;
    background-color: #ffffff;
    font-weight: 600;
}

.hint {
    color: #808080;
    font-size: 9px;
    text-align: center;
    margin-top: 2px;
    max-width: 100%;
    margin-bottom: 3px;
}

.syncFrom {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.syncTo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.toAndLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: #da2727;
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 10px;
    text-align: center;
}

.toolbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 5px;
    margin-bottom: 10px;
    position: sticky;
    height: 20px;
    top: 0;
    padding: 10px 0 7px 0;
    background-color: #ffffff;
    justify-content: space-between;
}

.iconButton {
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex;
    overflow: visible;
    cursor: pointer;
}

.buttonText {
    color: #000000;
    font-size: 12px;
    margin-left: 10px;
}

.bookContainer {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.bookCover {
    width:50px;
    height: 50px;
    margin: 10px;
}

img {
    max-width: 100%;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.title {
    margin: 2px;
}

.author {
    font-size: 13px;
    color: #a9a9a9;
    margin: 2px;
}

.highlight {
    font-size: 13px;
    margin-right: 10px;
}

.separator {
    border-bottom: 1px solid #dbdbdb;
    margin: 10px 0 -16px 0;
    width: 100%;
}

.highlightsSync {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 9px;
    height: 30px;
}

.highlightsButton {
    background-color: #696969;
    color: #ffffff;
    border-radius: 25px;
    font-size: 12px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptySyncContainer {
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
}

.highlightsArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}

.highlightsArrow .chevron {
    font-size: 10px;
}

.syncButton {
    background-color: #03e04528;
    border-color: #000000;
    color: #00922c;
    width: 88px;
    border-radius: 25px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.syncButtonUnsync {
    background-color: #ffcccb;
    color: #bb5858;
}

.syncedContainer {
    margin-top: 10px;
    text-align: center;;
    opacity: 0.5;
    overflow: scroll;
    max-height: 340px;
    padding-right: 5px;
    overflow-x: hidden;
    max-width: 100%;
    margin-bottom: 20px;
}

.syncedContainer .syncButton {
    display: none;
}

.unsyncedContainer {
    margin-top: 10px;
    overflow: scroll;
    max-height: 350px;
    position: relative;
    padding-right: 5px;
    overflow-x: hidden;
    max-width: 100%;
    margin-bottom: 20px;
}

.chevron {
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 6px;
  }
  
  .hidden {
    display: none;
  }

  .syncedLabel, .unsyncedLabel{
    margin-bottom: 15px;
  }

  

.syncSubmit {
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
    padding: 10px 0 10px 0;
    border-top: 1px solid #dbdbdb;
}

body::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar {
    margin: 5px;
    width: 10px;
    background: #ffffff;
}

::-webkit-scrollbar-track {
    background: #dbdbdb;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}